*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
#features {
    padding: 6rem 0;
    position: relative;
}
#features .features-ctn .icon , #Achievement .Achievement-ctn .icon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
#features .features-ctn i , #Achievement .Achievement-ctn i{
    position: relative;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: black;
    color: white;
    border-radius: 50%;
}
#features .features-ctn i::after , #Achievement .Achievement-ctn i::after{
    content: '';
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.204);
    position: absolute;
    z-index: -1;
}
#features .scroll-to-top {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    color: black;
    background-color: #f5f5f5;
    font-size: .8rem;
    position: absolute;
    right: 0;
    bottom: -2rem;
}